﻿<%@ Page Title="" Language="VB" MasterPageFile="~/ErrorPage.master" AutoEventWireup="false" CodeFile="ErrorPage.aspx.vb" Inherits="ErrorPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="Head" Runat="Server">
    Conred :: Error del Sistema
</asp:Content>

