html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code, sup,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
{
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
padding: 0;
margin: 0;
border: 0;
vertical-align: baseline
}

body			{ font: 12px/1.7em "trebuchet ms", arial, sans-serif; }

h1,h2,h3,
h4,h5,h6		{ font-weight: bold; margin-bottom: .75em; }

h1 				{ font-size: 30px; font-weight: normal; line-height: 1em; margin-bottom: 1em; }
h2 				{ font-size: 24px; font-weight: normal; margin-bottom: 1em }
h3 				{ font-size: 16px; line-height: 1; margin-bottom: 1.25em }
h4 				{ font-size: 14px; line-height: 1.25; margin-bottom: 1.25em }
h5 				{ font-size: 12px; font-weight: bold; margin-bottom: 1.5em }
h6 				{ font-size: 11px; font-weight: bold }

p           	{ margin: 0 0 1.5em }
p.last      	{ margin-bottom: 0 }
img         	{ border: none; }

ul, ol			{ margin-left: 20px; margin-bottom: 2.5em; }
li ul,
li ol			{ margin-top: 1em; }
ul li			{ list-style-type: disc; }
li				{ margin-bottom: .5em; }

dl          	{ margin: 0 0 2em 0 }
dl dt       	{ font-weight: bold; margin-bottom: .75em; }
dd          	{ margin-left: 1.5em; margin-bottom: .75em; }

abbr, 
acronym     	{ border-bottom: 1px dotted #666 }
address     	{ margin-top: 1.5em; font-style: italic }
del         	{ color:#666 }
sup				{ font-size: 9px; vertical-align:top; }

a				{ color: #06C; text-decoration: none; }
/* a:visited		{ color: #667 } */
a:focus, 
a:hover     	{ text-decoration: underline; }

blockquote  	{ margin: 1.5em; color: #666; font-style: italic }
strong      	{ font-weight: bold }
em,dfn      	{ font-style: italic; background: #ffc }
dfn         	{ font-weight: bold }
pre,code    	{ margin: 1.5em 0; white-space: pre }
pre,code,tt 	{ font: 12px 'andale mono', 'monotype.com', 'lucida console', monospace; line-height: 1.5 } 
tt         		{ display: block; margin: 1.5em 0; line-height: 1.5 }


hr { border: none; border-bottom: 1px dotted #CCC; margin-bottom: 2em; margin-top: 1em; }

table.data { width: 100%; border: 0; margin-bottom: 2em; border-collapse: collapse;  }

	 table.data thead th
	 {
	 	font-size: 12px;
		font-weight: bold;
		text-align: left;
		padding: 10px;
		background-color: EEE;

		color: #333;
		
		border: 1px solid #ddd;
	}	
	
	table.data td { vertical-align: top; }
	
	table.data tbody tr td { background: #FFF; border-bottom: 1px dotted #DDD; }

	table.data th { padding: 10px 0; }
	table.data tbody td { padding: 4px; }
	
	table.data tr.even td { background: #F9F9F9; }
	
	table.data.stripe tr:nth-child(odd) td { background-color:#F6F6F6; }
	table.data.stripe tr:nth-child(even) td { background-color:#FFF; }





.placeholder { color: #999; }





input[type=text]
, input[type=password] 
, textarea
, select
{
	font-family: Verdana, 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
	font-size: 12px;
	color: #424242;
	padding: 5px;
	border: 1px solid #CCC;
	outline: none;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;	
	
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15) inset;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15) inset;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .15) inset;
	
	-moz-transition: border .2s linear, box-shadow .2s linear;
	-webkit-transition: border .2s linear, -webkit-box-shadow .2s linear;
}

input[type=text]:focus 
, input[type=password]:focus
, textarea:focus
, select:focus
{
    border: 1px solid #80bfff;
    
    -moz-box-shadow: 0 0 3px #80bfff, 0 1px 2px rgba(0, 0, 0, .15) inset;
    -webkit-box-shadow: 0 0 3px #80bfff, 0 1px 2px rgba(0, 0, 0, .15) inset;
    box-shadow: 0 0 3px #80bfff, 0 1px 2px rgba(0, 0, 0, .15) inset;
}

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}







/* =Default
----------------------------------------------- */
body { background: #FFF; color: #444; }






/* =Wrapper
----------------------------------------------- */
#wrapper {}

		




/* =Header
----------------------------------------------- */
#header { 
	background:-moz-linear-gradient(top, #46474B 0%, #303135 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#46474B), color-stop(100%,#303135)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #46474B 0%,#303135 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #46474B 0%,#303135 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #46474B 0%,#303135 100%); /* IE10+ */
	background:linear-gradient(top, #46474B 0%,#303135 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#46474B', endColorstr='#303135');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#46474B', endColorstr='#303135')";
	
	height: 56px; 
	border-bottom: 1px solid #676A72;
}

	#header .grid { margin-bottom: 0 !important; }







/* =Sub Header
----------------------------------------------- */
#sub-header { 
	
	height: 78px;
	border-top: 1px solid #000;
	border-left: none;
	border-right: none;
}

#sub-header.toolbar { height: 123px; }

#sub-header .grid { margin-bottom: 0 !important; }

#sub-header-right { text-align: right; }

#sub-header h2 { font-size: 30px; margin: 27px 0 25px; }

#sub-header .tab {
	background:-moz-linear-gradient(top, #FEFEFE 0%, #E2E1E1 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFEFE), color-stop(100%,#E2E1E1)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #FEFEFE 0%,#E2E1E1 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #FEFEFE 0%,#E2E1E1 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #FEFEFE 0%,#E2E1E1 100%); /* IE10+ */
	background:linear-gradient(top, #FEFEFE 0%,#E2E1E1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#E2E1E1');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#E2E1E1')";
	
	font-size: 12px;
	font-weight: bold;
	color: #333;
	height: 20px;
	line-height: 20px;
	display: inline-block;
	padding: 4px 15px;
	margin-right: 1em;
	border: 1px solid #ADADAD;	
	position: relative;
	
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	
	box-shadow: 1px 1px 10px rgba(205,205,205,.35);
}

#sub-header .tab:active { top: 1px; left: 1px; }

#sub-header .tab:hover
, #sub-header .tab:active {
	background:-moz-linear-gradient(top, #FDFDFD 0%, #CECCCC 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FDFDFD), color-stop(100%,#CECCCC)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #FDFDFD 0%,#CECCCC 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #FDFDFD 0%,#CECCCC 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #FDFDFD 0%,#CECCCC 100%); /* IE10+ */
	background:linear-gradient(top, #FDFDFD 0%,#CECCCC 100%); /* W3C */
	
	color: #333;
	text-decoration: none;
}
		





/* =Content
----------------------------------------------- */			
#content {
	margin-top: 1em;
}		







/* =Footer
----------------------------------------------- */
#footer
{
	background: #333;
	color: #FFF;
	border-top: 3px solid #111;
	position: relative;
	padding-top: 2.5em;
	padding-bottom: 2em;
	clear: both;
}

	*+html #footer { float: left; }

	#footer .grid-container
	{
		font-size: 11px;
		text-align: left;
	}
	
		#footer .grid-container a { color: #FFF; }

	#footer .grid { margin-bottom: 3em; }
	
	#footer #copyright {
		padding-top: 2.5em;
		margin-bottom: 2em;
		border-top: 1px dotted #666;
	}
	
		#footer a { color: #FFF; }
	
		#footer .left { text-align: left; }
		#footer .right { text-align: right; }



/* =Section Header
----------------------------------------------- */
.section_header {
	padding: 15px;	
	margin-bottom: 2.5em;
	border-color: #CCC;
	
	clear: both;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

	.section_header h3 { font-size: 18px; font-weight: bold; margin-bottom: 0; }		
		
.section_header+.stats+.visualize { margin-top: 4em; }






/* =Misc
----------------------------------------------- */
.clear { clear: both; }








#header ul { padding: 0; margin: 0; }

/* =Nav
----------------------------------------------- */
.nav
, .bar {
	list-style-type: none;
	float: left;
	margin-right: .5em;
	position: relative;
	top: 12px;
	z-index: 5;
}

.nav { z-index: 10; }






/* =Notification
----------------------------------------------- */
.notify {
	background: none repeat scroll 0 0 #CC0000;
	font-size: 10px;
    color: #FFFFFF;
    line-height: 0;
    display: inline;
    font-weight: bold;
    padding: 10px 8px;
    position: absolute;
    right: -4px;
    top: -10px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}





/* =Item
----------------------------------------------- */
.item {
	background: #313236 url(../images/layout/header_nav_bg.png) repeat-x 0 0;
	height: 32px;
	font-size: 13px;
	font-weight: bold;
	line-height: 32px;
	color: #FFF;
	display: block;
	
	padding: 0 15px;
	border: 1px solid #000;
	
	text-shadow: 1px 1px 1px rgba(0,0,0,.75);
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

	.item:hover
	, .hovered .item { background-color: #111; text-decoration: none; }
	
	.item.icon { padding: 0 10px; }

		.item.icon span {
			background: url(../images/layout/home_12x12.png) no-repeat 0 50%;
			width: 16px;
			height: 32px;
			display: block;
			line-height: 500px;
			overflow: hidden;
			position: relative;
			left: 2px;
		}

		.item.cog span { background-image: url(../images/layout/cog_12x12.png); }
		.item.email span { background-image: url(../images/layout/mail_12x9.png); }



/* =Bar
----------------------------------------------- */
.bar {
	background: url(../images/layout/header_bar.png) no-repeat 0 100%;
	width: 2px;
	height: 42px;
	margin: 0 .75em 0 .25em;
}



/* =Profile
----------------------------------------------- */
.profile .item { padding: 0 5px; }
	.profile .item img { position: relative; top: 4px; }




/* =Dropdown
----------------------------------------------- */
.dropdown .item { padding-right: 25px; }

	.dropdown .arrow { 
		background: url(../images/layout/nav_arrow_lite.png) no-repeat 0 0;
		width: 8px;
		height: 4px;	
		display: block;	
		margin-top: -2px;	
		position: absolute;	
		top: 50%;
		right: 10px;
	}
	
	.dropdown .item.icon { padding-right: 20px; }
		.dropdown .item.icon span { left: 0; }





/* =Menu
----------------------------------------------- */
.menu {
	background: #FFF;
	width: 150px;
	padding: 20px 0 10px 0;
	border: 1px solid #AFB4B9;
	position: absolute;
	left: 0;
	top: 40px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	
	display: none;
}

	.menu.right
	, .nav.right .menu { left: auto; right: 0; }
	
	.menu-top {
		background: url(../images/layout/menu_top.png) no-repeat 0 0;
		width: 22px;
		height: 12px;
		position: absolute;
		top: -12px;
		left: 5px;
	}

		.menu.right .menu-top
		, .nav.right .menu-top { left: auto; right: 5px; }

	.menu h3 {
		font-size: 10px;
		font-weight: bold;
		text-transform: uppercase;
		color: #06C;
		border-top: 1px solid #CCC;
		padding: 1.5em 10px 0;
		margin-top: 1.5em;
	}
	
		.menu h3:first-child { border-top: none; margin-top: 0; padding-top: 0; }

	#header .menu ul { padding: 0; margin: 0 5px; }

		.menu li { list-style-type: none; margin-bottom: 0; }

			.menu a { 
				font-size: 12px;
				color: #444;
				display: block;	
				padding: 3px 6px;	
				border: 1px solid transparent;
				
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
			}

				.menu a:hover {
					background: #313236 url(../images/layout/header_nav_bg.png) repeat-x 0 0;
					color: #FFF;
					text-decoration: none;
					border: 1px solid #000;
				}
				
	.menu hr { border: none; border-top: 1px solid #CCC; margin-bottom: 1em; }
	



/* =Alignment
----------------------------------------------- */
.nav.right
, .bar.right { float: right; }



/* A container should group your entire grid. */
.container {
	min-width: 98%; /*950px;*/
	width: 100%;
	margin: 0 auto;
}

.container .grid {
	display: inline;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 5em;
}


.container .grid_1 { width: 2.15%; }
.container .grid_2 { width: 6.3%; }
.container .grid_3 { width: 10.45%; }
.container .grid_4 { width: 14.6%; }
.container .grid_5 { width: 18.75%; }
.container .grid_6 { width: 22.9%; }
.container .grid_7 { width: 27.05%; }
.container .grid_8 { width: 31.2%; }
.container .grid_9 { width: 35.35%; }
.container .grid_10 { width: 39.5%; }
.container .grid_11 { width: 43.65%; } 
.container .grid_12 { width: 47.8%; }
.container .grid_13 { width: 51.95%; }
.container .grid_14 { width: 56.1%; }
.container .grid_15 { width: 60.25%; }
.container .grid_16 { width: 64.4%; }
.container .grid_17 { width: 68.55%; }
.container .grid_18 { width: 72.7%; }
.container .grid_19 { width: 76.85%; }
.container .grid_20 { width: 81%; }
.container .grid_21 { width: 85.15%; }
.container .grid_22 { width: 89.3%; }
.container .grid_23 { width: 93.45%; }
.container .grid_24 { width: 97.6%; }

.container .prepend_1 { padding-left: 4.15%; }	
.container .prepend_2 { padding-left: 8.3%; }	
.container .prepend_3 { padding-left: 12.45%; }	
.container .prepend_4 { padding-left: 16.6%; }	
.container .prepend_5 { padding-left: 20.75%; }	
.container .prepend_6 { padding-left: 24.9%; }	
.container .prepend_7 { padding-left: 29.05%; }	
.container .prepend_8 { padding-left: 33.2%; }	
.container .prepend_9 { padding-left: 37.35%; }	
.container .prepend_10 { padding-left: 41.5%; }	
.container .prepend_11 { padding-left: 45.65%; }	
.container .prepend_12 { padding-left: 49.8%; }	
.container .prepend_13 { padding-left: 53.95%; }	
.container .prepend_14 { padding-left: 58.1%; }	
.container .prepend_15 { padding-left: 62.25%; }	
.container .prepend_16 { padding-left: 66.4%; }	
.container .prepend_17 { padding-left: 70.55%; }	
.container .prepend_18 { padding-left: 74.7%; }	
.container .prepend_19 { padding-left: 78.85%; }	
.container .prepend_20 { padding-left: 83%; }	
.container .prepend_21 { padding-left: 87.15%; }	
.container .prepend_22 { padding-left: 91.3%; }	
.container .prepend_23 { padding-left: 95.45%; }	
.container .prepend_24 { padding-left: 99.6%; }	

.container .append_1 { padding-right: 4.15%; }	
.container .append_2 { padding-right: 8.3%; }	
.container .append_3 { padding-right: 12.45%; }	
.container .append_4 { padding-right: 16.6%; }	
.container .append_5 { padding-right: 20.75%; }	
.container .append_6 { padding-right: 24.9%; }	
.container .append_7 { padding-right: 29.05%; }	
.container .append_8 { padding-right: 33.2%; }	
.container .append_9 { padding-right: 37.35%; }	
.container .append_10 { padding-right: 41.5%; }	
.container .append_11 { padding-right: 45.65%; }	
.container .append_12 { padding-right: 49.8%; }	
.container .append_13 { padding-right: 53.95%; }	
.container .append_14 { padding-right: 58.1%; }	
.container .append_15 { padding-right: 62.25%; }	
.container .append_16 { padding-right: 66.4%; }	
.container .append_17 { padding-right: 70.55%; }	
.container .append_18 { padding-right: 74.7%; }	
.container .append_19 { padding-right: 78.85%; }	
.container .append_20 { padding-right: 83%; }	
.container .append_21 { padding-right: 87.15%; }	
.container .append_22 { padding-right: 91.3%; }	
.container .append_23 { padding-right: 95.45%; }	
.container .append_24 { padding-right: 99.6%; }	


/* Misc classes and elements
-------------------------------------------------------------- */

/* Use a .box to create a padded box inside a column.  */ 
.box { 
  padding: 1.5em; 
  margin-bottom: 1.5em; 
  background: #EBEBEB; 
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}



/* Clear the .container
-------------------------------------------------------------- */
.container:after {
    content:"";
    display:table;
}

.container:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.container {
    zoom:1;
}


	
/* Side Tabs
-------------------------------------------------*/
.tabs-side {
    background: url(../images/bg_body.jpg) repeat-y right top;
    width: 100%;
    min-height: 500px;
    border-bottom: 1px solid #fff;
    margin: 0 0 18px 0;
    padding: 1px 0 0;
}

.tabs-side ul {
	margin-left: 10px;
	
}

.tabs-side li {
    color: #797c80;
    list-style: none;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.tabs-side li a {
    border-bottom: 1px solid #dcddde;
    border-top: 1px solid #fff;
    color: #797c80;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 0 15px 20px;
    position: relative;
    width: 90%;

    -webkit-border-top-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.tabs-side .current a {
    
    border: none;
    color: #fff;
    padding-right: 11px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.75);
}

.tabs-side a:hover { text-decoration: none; }


.tabs-side li span { display: block; font-weight: normal; color: #888; font-size: 12px; margin-top: .25em; }
	.tabs-side li.current span { color: #FFF; }
	
	
	



/* Pricing Tables
-------------------------------------------------*/	
table.pricing_table { margin: 0 auto; border-collpase: collapse; border-spacing: 0; }
			
table.pricing_table tr:nth-child(even) td { background: #EEE; }

table.pricing_table td { font-size: 14px; color: #555; text-align: center; padding: 20px 10px; }

table.pricing_table tr.pricing_header_tr td
, table.pricing_table tr.pricing_price_tr td { background: transparent; padding: 0; }

table.pricing_table tr.pricing_header_tr td:nth-child(2) .pricing_header {
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
}

table.pricing_table tr.pricing_header_tr td:last-child .pricing_header {
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;								
}

table.pricing_table tr.pricing_price_tr td:nth-child(2) .pricing_price {
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
}

table.pricing_table tr.pricing_price_tr td:last-child .pricing_price {
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
}

table.pricing_table .pricing_header { 
	background: #292929;
	width: 165px;
	font-size: 14px;
	font-weight: bold;
	text-align: center; 
	color: #FFF;
	padding: 10px 5px;
	
	border-bottom: 1px solid #000;
	
}

table.pricing_table .pricing_price {
	background: #555;
	font-size: 42px;
	text-align: center;
	color: #FFF;
	padding: 30px 5px 24px;
	border-top: 1px solid #777;
	
	text-shadow: 1px 1px 3px rgba(0,0,0,.4);
}

	table.pricing_table .pricing_price_label {
		font-size: 14px;
		display: block;
		margin-top: 1.5em;
	}

table.pricing_table .pricing_feature {
	width: 150px;
	font-weight: bold;
	text-align: left;
}

table.pricing_table tr.pricing_actions td { background: transparent !important; border-top: 1px dotted #CCC; }

/* =Btn
----------------------------------------------- */
.btn
, .btn:visited {
	background-repeat: repeat-x;
	background-position: 0 0;
	
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	line-height: normal;	
	color: #FFF;
	
	display: inline-block;
	margin: 0;
	*overflow: visible; 
	
	position: relative;	
	
	border: none;
	border-width: 1px;
	border-style: solid;
	
	cursor: pointer;
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;	
	
	text-shadow: 1px 1px 1px rgba(0,0,0,.25);
	
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.25);
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.25);
	box-shadow: 1px 1px 1px rgba(0,0,0,.25);
	
}

	.btn:hover { text-decoration: none; }

/* =Massage IE7 A Little Bit
----------------------------------------------- */
*+html button.btn { border-color: none; border: 1px solid transparent; }



/* =Colors
----------------------------------------------- */
.btn
, .btn:visited  { background-color: #066ECD; border-color: #0561B4; }
.btn:hover{ background-color: #0561B4; text-decoration: none; }

/* Colors */	
.pink,
.pink:visited { background-color: #FF0066; border-color: #DA0C59; }
.pink:hover { background-color: #DA0C59; }

.blue,
.blue:visited { background-color: #066ECD; border-color: #0561B4; }
.blue:hover { background-color: #0561B4; }

.red,
.red:visited { background-color: #E40001; border-color: #CC0000; }
.red:hover { background-color: #CC0000; }

.green,
.green:visited { background-color: #77B32F; border-color: #689C29; }
.green:hover { background-color: #689C29; }

.black,
.black:visited { background-color: #111; border-color: #000; }
.black:hover { background-color: #000; }

.purple,
.purple:visited { background-color: #7B0F75; border-color: #6A0D66; }
.purple:hover { background-color: #6A0D66; }

.maroon,
.maroon:visited { background-color: #750000; border-color: #530000; }
.maroon:hover { background-color: #530000; }

.yellow,
.yellow:visited { background-color: #FFCC00; border-color: #DFB300; }
.yellow:hover { background-color: #DFB300; }

.teal,
.teal:visited { background-color: #39A7B6; border-color: #2E8794; }
.teal:hover { background-color: #2E8794; }

.orange,
.orange:visited { background-color: #F90; border-color: #D58000; color: #FFF; }
.orange:hover{ background-color: #D58000; color: #FFF; }

.grey,
.grey:visited  { background-color: #999; border-color: #888; color: #FFF; }
.grey:hover{ background-color: #888; color: #FFF; }

.light-grey,
.light-grey:visited  { background-color: #CCC; border-color: #bbb; color: #444; text-shadow: 1px 1px 1px rgba(255,255,255,.8); }
.light-grey:hover{ background-color: #bbb; color: #444; }



/* =Gradients
----------------------------------------------- */
.btn
, .blue
, .teal
, .maroon
, .purple
, .black { background-image: url(../images/btn-35.png); background-position: 0 0; }

.orange
, .grey 
, .green
, .red
, .pink { background-image: url(../images/btn-50.png); background-position: 0 0; }

.yellow { background-image: url(../images/btn-60.png); background-position: 0 0; }

.light-grey { background-image: url(../images/btn-100.png); background-position: 0 0; }



/* =Active State
----------------------------------------------- */
.btn:active { background-position: left bottom !important; top: 1px; text-decoration: none; }



/* =Sizes
----------------------------------------------- */
.btn { font-size: 13px; padding: 8px 12px; }
.btn.small { font-size: 11px; padding: 5px 8px; }
.btn.large { font-size: 16px; padding: 12px 18px; }
.btn.xlarge { font-size: 24px; padding: 12px 18px; }



/* =Toolbar
----------------------------------------------- */
 
.btn-toolbar { margin-bottom: 3em; float: left; }

.btn-toolbar .btn {
	display: block;
	margin: 0 0 0 -1px;
	float: left;
			
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-toolbar .btn:first-child {
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.btn-toolbar .btn:last-child {
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

/* For modern browsers */
.btn-toolbar:before,
.btn-toolbar:after {
    content:"";
    display:table;
}

.btn-toolbar:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.btn-toolbar {
    zoom:1;
}

.form { margin-bottom: 1.5em; }

	.form .field { margin-bottom: 1.75em; }
		.form .field:last-child { margin-bottom: 1em; }

	.form label { width: 125px; font-size: 12px; color: #555; }

		.form .fields label { width: auto; margin-left: .25em; margin-right: 2em; }



.form .actions {  
        margin-left: 75%; text-align: right;
}

	.form .actions .cancel { font-size: 11px; color: #666; margin-left: 1em; }

.form label
, .form .fields
, .form .actions
{
	display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}

.form .fields { vertical-align: middle; }

.form .error
{
	background: url(../images/error_stem.png) no-repeat 10px 100%;
	line-height: 2em !important;
	display: block;
	padding: 0 0 4px !important;
	margin-bottom: .5em;	
	position: relative;
	top: 3px;
}

	.form .error span
	{
		background: #C00;
		font-size: 10px;
		display: inline-block;
		color: #FFF;
		padding: 0 8px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
	}

.form .required { font-size: 11px; color: #C00; position: relative; top: -3px; }

.form .input label:first-child
, .form .select label:first-child { position: relative; top: 5px; }

.form.top_label label:first-child { display: block; padding-bottom: .5em; }
.form.top_label .actions { margin-left: 0; }

.guidely-number {
	background: url(../images/mba/guidely-number.png) no-repeat 0 0;
	width: 45px;
	height: 45px;	
	display: none;	
	position: absolute;
	cursor: pointer;	
	z-index: 10002;
}

	.guidely-number span {
		width: 43px;
		height: 43px;
		font-family: arial, sans-serif;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		color: #FFF;
		text-align: center;
		display: block;
		line-height: 44px;
	}

.guidely-guide {
	background: #FFF;
	width: 300px;
	display: none;
	border: 3px solid #999;
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
		
	-webkit-box-shadow:0 0 12px rgba(0,0,0,0.4);
	-moz-box-shadow:0 0 12px rgba(0,0,0,0.4);
	box-shadow:0 0 12px rgba(0,0,0,0.4);
	
	z-index: 10001;
}

	.guidely-guide h4 {
		font-family: georgia, arial, sans-serif;
		font-size: 15px;
		font-weight: bold;
		color: #333;
		padding: 0;
		margin: 0 0 1em;
		border-bottom: 1px dotted #CCC;
	}
	
	.guidely-guide-pad {
		font-family: arial, sans-serif;
		font-size: 12px;
		line-height: 1.7em;
		padding: 15px 15px 5px 30px;
		
	}
	
	.guidely-anchor-right .guidely-guide-pad { padding: 15px 30px 5px 15px; }

	.guidely-anchor-right .guidely-close-trigger { right: 30px; }

.guidely-popup 
{
	color: #444;
	display:block;
	padding: 0;
	background: #fff;
	
	-webkit-border-top-left-radius: 4px;	
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}





.guidely-controls {
	background: #EEE;
	text-align: right;
	padding: 7px 10px;
	margin-top: 1em;
}

	.guidely-controls button {
		font-size: 11px;
		padding: 3px 8px;
		*padding: 1px 4px;
		cursor: pointer;
	}

.guidely-overlay 
{
	position: fixed;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	background-color: #000;
	z-index: 10000;
	
	filter: alpha(opacity=30);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	-moz-opacity: 0.30;
	opacity:0.30;
}

.guidely-start-trigger {
	background: #444;
	background: rgba(0,0,0,.6);
	text-decoration: none;
	color: #FFF;
	cursor: pointer;
	padding: 4px 10px 4px 12px;
	position: fixed;
	top: 0;
	right: 0;
	
	z-index: 9999;
	
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	
}

.guidely-close-trigger {
	font-family: arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #AAA;
	position: absolute;
	right: 7px;
	top: 0px;
}

#guide-welcome { width: 350px; }

#guide-welcome .guidely-guide-pad { padding: 15px 15px 5px 15px; }

#modal {
	background: #FFF;
	margin-left: -240px;

	position: absolute;
	top: 100px;
	left: 50%;
	z-index: 15;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.7);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
}

#modal_header {	
	background: #DDD;
	background: -moz-linear-gradient(top, #FBFBFB 0%, #D4D4D4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#D4D4D4));
	background: -webkit-linear-gradient(top, #FBFBFB 0%,#D4D4D4 100%);
	background: -o-linear-gradient(top, #FBFBFB 0%,#D4D4D4 100%);
	background: -ms-linear-gradient(top, #FBFBFB 0%,#D4D4D4 100%);
	background: linear-gradient(top, #FBFBFB 0%,#D4D4D4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#D4D4D4');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#D4D4D4')";

	padding: 20px 20px 17px;
	border-bottom: 1px solid #999;
	
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

	#modal_header .byline {
		font-style: italic;
		margin-bottom: 0;
	}

	#modal_header h3 {
		font-size: 24px;
		font-weight: normal;
		color: #333;
		padding: 0;
		margin: 0;
	}

		#modal_header h3+.byline { margin-top: .75em; }
		
#modal_content {
	width: 100%;
	display: table;
	padding: 25px 15px 15px;
	margin: 0;
}

#modal_overlay {
	background: #000;
	width: 100%;
	height: 100%;
	opacity: .2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=20)";  
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}

#modal button {
	margin: 0 0 0 4px;
	cursor: pointer;
}

	#modal button[disabled] {
		opacity: .4;
	filter: alpha(opacity=40);
	}

#modal_close {
	font-size: 11px;
	font-weight: bold;
	color: #777;
	display: inline-block;
	padding: 0 7px;
	cursor: pointer;
	position: absolute;
	right: 3px;
	top: 1px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

	#modal_close:hover { color: #111; }

#modal_loader {
	text-align: center;
	padding: 20px;
}

#modal_footer {
	text-align: right;
	padding: 15px 0;
	margin: 0 20px;
	border-top: 1px dotted #CCC;
}

#modal #display { padding: 0 10px; }

.msgAlert
{
	width: 400px;
	position: fixed;
	left: 50%;
	top: 200px;
	margin-left: -200px;
	z-index: 100;
	
	border: 3px solid rgba(0,0,0,0);
	
	border: 3px solid #bbb\0/;
	*border: 3px solid #bbb;
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
		
	-webkit-box-shadow:0 0 12px rgba(0,0,0,0.4);
	-moz-box-shadow:0 0 12px rgba(0,0,0,0.4);
	box-shadow:0 0 12px rgba(0,0,0,0.4);
	
	
}

	.msgAlert_header
	{		
		background: #BBB url(../images/mba/msgAlert_header.png) repeat-x 0 0;
		height: 39px;
		line-height: 39px;
		margin: 0 0 1.5em;
		border: 1px solid #999;
		position: relative;
		
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		border-radius:4px;
	}
	
		.msgAlert_header h4
		{
			font-size: 14px;
			font-weight: bold;
			line-height: 2.75em;
			color: #FFF;
			text-shadow: 1px 1px 2px rgba(0,0,0,.4);
			position: relative;
			left: 10px;	
		}
	
		.msgAlert_header .msgAlert_close
		{
			background: url(../images/mba/msgAlert_close.png) no-repeat 0 0;
			width: 20px;
			height: 20px;
			line-height: 800px;
			display: block;
			position: absolute;
			right: 10px;
			top: 10px;
			overflow: hidden;
		}
	
			.msgAlert_header .msgAlert_close:hover { background-position: 0 -20px; }

	.msgAlert_popup 
	{
		color: #444;
		display:block;
		padding: 10px 10px 20px;
		background: #fff;-webkit-border-top-left-radius: 4px;
		
		-webkit-border-top-right-radius: 4px;
		-moz-border-radius-topleft: 4px;
		-moz-border-radius-topright: 4px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}
	
		.msgAlert_popup p:last-child { margin-bottom: 0; }

	.msgAlert_footer
	{
		background: #EEE;
		width: auto;
		text-align: right;
		padding: 10px 10px;
		
		-webkit-border-bottom-right-radius: 4px;
		-webkit-border-bottom-left-radius: 4px;
		-moz-border-radius-bottomright: 4px;
		-moz-border-radius-bottomleft: 4px;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
	}
	
		.msgAlert_footer button { margin: 0 .35em; }


	.msgAlert_overlay 
	{
		position: fixed;
		top: 0px;
		left: 0px;
		height:100%;
		width:100%;
		background-color: #000;
		z-index: 99;
		filter: alpha(opacity=15);
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=15);
		-moz-opacity: 0.15;
		opacity:0.15;
	}
	
	.msgAlert_content { color: #555; min-height: 50px; margin-top: .75em; }
	
	.msgAlert_content h3 { margin-bottom: 1em; }
	
	.msgAlert_content ul
	{
		list-style-type: square;
		padding: 0;
		margin: 0 0 0 24px;
	}
	
	
.warning .msgAlert_content
, .info .msgAlert_content
, .success .msgAlert_content
, .error .msgAlert_content
{
	background-repeat: no-repeat;
	background-position: 16px 2px;
	padding-left: 85px;
}

.info .msgAlert_content { background-image: url(../images/mba/msgAlert_info.png); }
.success .msgAlert_content { background-image: url(../images/mba/msgAlert_success.png); }
.warning .msgAlert_content { background-image: url(../images/mba/msgAlert_warning.png); }
.error .msgAlert_content { background-image: url(../images/mba/msgAlert_error.png); }

.msgAlert.success .msgAlert_header { background-color: #7B9534; border-color: #627036; }
.msgAlert.warning .msgAlert_header { background-color: #E6BA01; border-color: #AC9207; }
.msgAlert.error .msgAlert_header { background-color: #AF4434; border-color: #782E25; }
.msgAlert.info .msgAlert_header { background-color: #437ECC; border-color: #224F91; }

.msgAlert_footer.left { text-align: left; }
.msgAlert_footer.middle { text-align: center; }
.msgAlert_footer.right { text-align: right; }

.msgAlert_footer button
{
	background-image: url(../images/mba/msgAlert_button_bg.png); 
	background-color: #DDD; 
	background-repeat: repeat-x;
	color: #666;
	font-weight: bold;
	display: inline-block;	
	text-decoration: none;
	border-color: #BBB; 
	border-width: 1px;
	border-style: solid;
	padding: 0 15px 4px;
	*padding: 0 5px 4px;
	margin: 0 3px;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.1);
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.1);
	box-shadow: 1px 1px 1px rgba(0,0,0,.1);
	
	cursor: pointer;
	position: relative;
}

	.msgAlert_footer button:hover { background-position: 0 -100px; }
	
	/* Active/Click state */
	.msgAlert_footer button:active { top: 1px; }


/* Sizes */
.msgAlert_footer button { background-position: 0 0; font-size: 10px; height: 26px; line-height: 23px; }





.msgBar
{
	background: #BBB url(../images/mba/msgBar_header.png) repeat-x 0 0;
	
	border: 1px solid #999;
	font-size: 13px;
	color: #FFF;
	display:block;	
	padding: 10px 30px 10px 15px;
	margin-bottom: 1.5em;
	position:relative;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

	.msgBar .icon  
	{	
		background-repeat: no-repeat;
		background-position:  0 0;
		width: 24px;
		height: 24px;
		position: absolute;
		left:11px;
		top: 10px;
		font-weight:bold;
		font-size:10px;
		padding:5px;
	}
	
	.msgBar.success .icon { background-image: url(../images/mba/msgBar_success.png); }
	.msgBar.info .icon { background-image: url(../images/mba/msgBar_info.png); }
	.msgBar.warning .icon { background-image: url(../images/mba/msgBar_warning.png); }
	.msgBar.error .icon { background-image: url(../images/mba/msgBar_error.png); }
	
	.msgBar .close {
		font-size: 11px;
		font-weight: bold;
		position: absolute;
		right: 15px;
		top: 9px;
		cursor: pointer;
	}

	.msgBar.warning { background-color: #E6BA01; border-color: #AC9207; padding-left: 45px; }
	.msgBar.error { background-color: #AF4434; border-color: #782E25; padding-left: 45px; }
	.msgBar.info { background-color: #437ECC; border-color: #224F91; padding-left: 45px; }
	.msgBar.success { background-color: #7B9534; border-color: #627036; padding-left: 45px; }

.msgGrowl-container {
	width: 300px;
	position: fixed;
	z-index: 10000;
}

	.top-right { top: 10px; right: 15px; }
	.bottom-right { bottom: 10px; right: 15px; }
	
	.top-left { top: 10px; left: 15px; }
	.bottom-left { bottom: 10px; left: 15px; }
	
	.top-center { top: 10px; left: 50%; margin-left: -150px; }
	.bottom-center { bottom: 10px; left: 50%; margin-left: -150px; }

.msgGrowl {
	background: #EEE;
	background:-moz-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#EEEEEE)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #FFFFFF 0%,#EEEEEE 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #FFFFFF 0%,#EEEEEE 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #FFFFFF 0%,#EEEEEE 100%); /* IE10+ */
	background:linear-gradient(top, #FFFFFF 0%,#EEEEEE 100%); /* W3C */	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EEEEEE');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFF', endColorstr='#FFFFF')";
	
	width: 300px;
	font-size: 11px;
	color: #333; 
	
	padding: 0;
	margin: 0 0 10px 0;
	border: 1px solid #A8A8A8;
	position: relative;
		
	-webkit-box-shadow: 0 0 7px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 7px rgba(0,0,0,.3);
	-o-box-shadow: 0 0 7px rgba(0,0,0,.3);
	box-shadow: 0 0 7px rgba(0,0,0,.3);
	
	-webkit-text-shadow: 0 0 1px #FFF;
	-moz-text-shadow: 0 0 1px #FFF;
	-o-text-shadow: 0 0 1px #FFF;
	text-shadow: 0 0 1px #FFF;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.msgGrowl h4 {
	font-size: 13px;
	font-weight: bold;
	color: #333;
	margin-bottom: .5em;
	
	-webkit-text-shadow: 0 0 1px #FFF;
	-moz-text-shadow: 0 0 1px #FFF;
	-o-text-shadow: 0 0 1px #FFF;
	text-shadow: 0 0 1px #FFF;
}

.msgGrowl-content { padding: 10px 20px 10px 10px; }

.msgGrowl-close {
	background: url(../images/mba/msgGrowl_close.png) no-repeat 50% 50%;
	width: 11px;
	height: 10px;
	
	position: absolute;
	top: 10px;
	right: 10px;
	
	opacity: .4;
}

	.msgGrowl-close:hover { opacity: 1; cursor: pointer; }

.msgGrowl.success .msgGrowl-content { background: url(../images/mba/msgGrowl_success.png) no-repeat 10px 13px; }
.msgGrowl.success .msgGrowl-content { padding-left: 50px; }
.msgGrowl.success h4 { color: #5B7027; }

.msgGrowl.error .msgGrowl-content { background: url(../images/mba/msgGrowl_error.png) no-repeat 10px 13px; }
.msgGrowl.error .msgGrowl-content { padding-left: 50px; }
.msgGrowl.error h4 { color: #AF4434; }

.msgGrowl.info .msgGrowl-content { background: url(../images/mba/msgGrowl_info.png) no-repeat 10px 13px; }
.msgGrowl.info .msgGrowl-content { padding-left: 50px; }
.msgGrowl.info h4 { color: #316AB7; }

.msgGrowl.warning .msgGrowl-content { background: url(../images/mba/msgGrowl_warning.png) no-repeat 10px 13px; }
.msgGrowl.warning .msgGrowl-content { padding-left: 50px; }
.msgGrowl.warning h4 { color: #B69201; }

/*
 * FullCalendar v1.5.1 Stylesheet
 *
 * Copyright (c) 2011 Adam Shaw
 * Dual licensed under the MIT and GPL licenses, located in
 * MIT-LICENSE.txt and GPL-LICENSE.txt respectively.
 *
 * Date: Sat Apr 9 14:09:51 2011 -0700
 *
 */


.fc {
	direction: ltr;
	text-align: left;
	}
	
.fc table {
	border-collapse: collapse;
	border-spacing: 0;
	}
	
html .fc,
.fc table {
	font-size: 1em;
	}
	
.fc td,
.fc th {
	padding: 0;
	vertical-align: top;
	}



/* Header
------------------------------------------------------------------------*/

.fc-header td {
	white-space: nowrap;
	}

.fc-header-left {
	width: 25%;
	text-align: left;
	}
	
.fc-header-center {
	text-align: center;
	}
	
.fc-header-right {
	width: 25%;
	text-align: right;
	}
	
.fc-header-title {
	display: inline-block;
	vertical-align: top;
	}
	
.fc-header-title h2 {
	margin-top: 0;
	white-space: nowrap;
	}
	
.fc .fc-header-space {
	padding-left: 10px;
	}
	
.fc-header .fc-button {
	margin-bottom: 1em;
	vertical-align: top;
	}
	
/* buttons edges butting together */

.fc-header .fc-button {
	margin-right: -1px;
	}
	
.fc-header .fc-corner-right {
	margin-right: 1px; /* back to normal */
	}
	
.fc-header .ui-corner-right {
	margin-right: 0; /* back to normal */
	}
	
/* button layering (for border precedence) */
	
.fc-header .fc-state-hover,
.fc-header .ui-state-hover {
	z-index: 2;
	}
	
.fc-header .fc-state-down {
	z-index: 3;
	}

.fc-header .fc-state-active,
.fc-header .ui-state-active {
	z-index: 4;
	}
	
	
	
/* Content
------------------------------------------------------------------------*/
	
.fc-content {
	clear: both;
	}
	
.fc-view {
	width: 100%; /* needed for view switching (when view is absolute) */
	overflow: hidden;
	}
	
	

/* Cell Styles
------------------------------------------------------------------------*/

.fc-widget-header,    /* <th>, usually */
.fc-widget-content {  /* <td>, usually */
	border: 1px solid #ccc;
	}
	
.fc-state-highlight { /* <td> today cell */ /* TODO: add .fc-today to <th> */
	background: #ffc;
	}
	
.fc-cell-overlay { /* semi-transparent rectangle while dragging */
	background: #9cf;
	opacity: .2;
	filter: alpha(opacity=20); /* for IE */
	}
	


/* Buttons
------------------------------------------------------------------------*/

.fc-button {
	position: relative;
	display: inline-block;
	cursor: pointer;
	}
	
.fc-state-default { /* non-theme */
	border-style: solid;
	border-width: 1px 0;
	}
	
.fc-button-inner {
	position: relative;
	float: left;
	overflow: hidden;
	}
	
.fc-state-default .fc-button-inner { /* non-theme */
	border-style: solid;
	border-width: 0 1px;
	}
	
.fc-button-content {
	position: relative;
	float: left;
	height: 1.9em;
	line-height: 1.9em;
	padding: 0 .6em;
	white-space: nowrap;
	}
	
/* icon (for jquery ui) */
	
.fc-button-content .fc-icon-wrap {
	position: relative;
	float: left;
	top: 50%;
	}
	
.fc-button-content .ui-icon {
	position: relative;
	float: left;
	margin-top: -50%;
	*margin-top: 0;
	*top: -50%;
	}
	
/* gloss effect */
	
.fc-state-default .fc-button-effect {
	position: absolute;
	top: 50%;
	left: 0;
	}
	
.fc-state-default .fc-button-effect span {
	position: absolute;
	top: -100px;
	left: 0;
	width: 500px;
	height: 100px;
	border-width: 100px 0 0 1px;
	border-style: solid;
	border-color: #fff;
	background: #444;
	opacity: .09;
	filter: alpha(opacity=9);
	}
	
/* button states (determines colors)  */
	
.fc-state-default,
.fc-state-default .fc-button-inner {
	border-style: solid;
	border-color: #ccc #bbb #aaa;
	background: #F3F3F3;
	color: #000;
	}
	
.fc-state-hover,
.fc-state-hover .fc-button-inner {
	border-color: #999;
	}
	
.fc-state-down,
.fc-state-down .fc-button-inner {
	border-color: #555;
	background: #777;
	}
	
.fc-state-active,
.fc-state-active .fc-button-inner {
	border-color: #555;
	background: #777;
	color: #fff;
	}
	
.fc-state-disabled,
.fc-state-disabled .fc-button-inner {
	color: #999;
	border-color: #ddd;
	}
	
.fc-state-disabled {
	cursor: default;
	}
	
.fc-state-disabled .fc-button-effect {
	display: none;
	}
	
	

/* Global Event Styles
------------------------------------------------------------------------*/
	 
.fc-event {
	border-style: solid;
	border-width: 0;
	font-size: .85em;
	cursor: default;
	}
	
a.fc-event,
.fc-event-draggable {
	cursor: pointer;
	}
	
a.fc-event {
	text-decoration: none;
	}
	
.fc-rtl .fc-event {
	text-align: right;
	}
	
.fc-event-skin {
	border-color: #0056A0;     /* default BORDER color */
	background-color: #0056A0; /* default BACKGROUND color */
	color: #fff;            /* default TEXT color */
	}
	
.fc-event-inner {
	position: relative;
	width: 100%;
	height: 100%;
	border-style: solid;
	border-width: 0;
	overflow: hidden;
	}
	
.fc-event-time,
.fc-event-title {
	padding: 0 1px;
	}
	
.fc .ui-resizable-handle { /*** TODO: don't use ui-resizable anymore, change class ***/
	display: block;
	position: absolute;
	z-index: 99999;
	overflow: hidden; /* hacky spaces (IE6/7) */
	font-size: 300%;  /* */
	line-height: 50%; /* */
	}
	
	
	
/* Horizontal Events
------------------------------------------------------------------------*/

.fc-event-hori {
	border-width: 1px 0;
	margin-bottom: 1px;
	}
	
/* resizable */
	
.fc-event-hori .ui-resizable-e {
	top: 0           !important; /* importants override pre jquery ui 1.7 styles */
	right: -3px      !important;
	width: 7px       !important;
	height: 100%     !important;
	cursor: e-resize;
	}
	
.fc-event-hori .ui-resizable-w {
	top: 0           !important;
	left: -3px       !important;
	width: 7px       !important;
	height: 100%     !important;
	cursor: w-resize;
	}
	
.fc-event-hori .ui-resizable-handle {
	_padding-bottom: 14px; /* IE6 had 0 height */
	}
	
	
	
/* Fake Rounded Corners (for buttons and events)
------------------------------------------------------------*/
	
.fc-corner-left {
	margin-left: 1px;
	}
	
.fc-corner-left .fc-button-inner,
.fc-corner-left .fc-event-inner {
	margin-left: -1px;
	}
	
.fc-corner-right {
	margin-right: 1px;
	}
	
.fc-corner-right .fc-button-inner,
.fc-corner-right .fc-event-inner {
	margin-right: -1px;
	}
	
.fc-corner-top {
	margin-top: 1px;
	}
	
.fc-corner-top .fc-event-inner {
	margin-top: -1px;
	}
	
.fc-corner-bottom {
	margin-bottom: 1px;
	}
	
.fc-corner-bottom .fc-event-inner {
	margin-bottom: -1px;
	}
	
	
	
/* Fake Rounded Corners SPECIFICALLY FOR EVENTS
-----------------------------------------------------------------*/
	
.fc-corner-left .fc-event-inner {
	border-left-width: 1px;
	}
	
.fc-corner-right .fc-event-inner {
	border-right-width: 1px;
	}
	
.fc-corner-top .fc-event-inner {
	border-top-width: 1px;
	}
	
.fc-corner-bottom .fc-event-inner {
	border-bottom-width: 1px;
	}
	
	
	
/* Reusable Separate-border Table
------------------------------------------------------------*/

table.fc-border-separate {
	border-collapse: separate;
	}
	
.fc-border-separate th,
.fc-border-separate td {
	border-width: 1px 0 0 1px;
	}
	
.fc-border-separate th.fc-last,
.fc-border-separate td.fc-last {
	border-right-width: 1px;
	}
	
.fc-border-separate tr.fc-last th,
.fc-border-separate tr.fc-last td {
	border-bottom-width: 1px;
	}
	
.fc-border-separate tbody tr.fc-first td,
.fc-border-separate tbody tr.fc-first th {
	border-top-width: 0;
	}
	
	

/* Month View, Basic Week View, Basic Day View
------------------------------------------------------------------------*/

.fc-grid th {
	text-align: center;
	}
	
.fc-grid .fc-day-number {
	float: right;
	padding: 0 2px;
	}
	
.fc-grid .fc-other-month .fc-day-number {
	opacity: 0.3;
	filter: alpha(opacity=30); /* for IE */
	/* opacity with small font can sometimes look too faded
	   might want to set the 'color' property instead
	   making day-numbers bold also fixes the problem */
	}
	
.fc-grid .fc-day-content {
	clear: both;
	padding: 2px 2px 1px; /* distance between events and day edges */
	}
	
/* event styles */
	
.fc-grid .fc-event-time {
	font-weight: bold;
	}
	
/* right-to-left */
	
.fc-rtl .fc-grid .fc-day-number {
	float: left;
	}
	
.fc-rtl .fc-grid .fc-event-time {
	float: right;
	}
	
	

/* Agenda Week View, Agenda Day View
------------------------------------------------------------------------*/

.fc-agenda table {
	border-collapse: separate;
	}
	
.fc-agenda-days th {
	text-align: center;
	}
	
.fc-agenda .fc-agenda-axis {
	width: 50px;
	padding: 0 4px;
	vertical-align: middle;
	text-align: right;
	white-space: nowrap;
	font-weight: normal;
	}
	
.fc-agenda .fc-day-content {
	padding: 2px 2px 1px;
	}
	
/* make axis border take precedence */
	
.fc-agenda-days .fc-agenda-axis {
	border-right-width: 1px;
	}
	
.fc-agenda-days .fc-col0 {
	border-left-width: 0;
	}
	
/* all-day area */
	
.fc-agenda-allday th {
	border-width: 0 1px;
	}
	
.fc-agenda-allday .fc-day-content {
	min-height: 34px; /* TODO: doesnt work well in quirksmode */
	_height: 34px;
	}
	
/* divider (between all-day and slots) */
	
.fc-agenda-divider-inner {
	height: 2px;
	overflow: hidden;
	}
	
.fc-widget-header .fc-agenda-divider-inner {
	background: #eee;
	}
	
/* slot rows */
	
.fc-agenda-slots th {
	border-width: 1px 1px 0;
	}
	
.fc-agenda-slots td {
	border-width: 1px 0 0;
	background: none;
	}
	
.fc-agenda-slots td div {
	height: 20px;
	}
	
.fc-agenda-slots tr.fc-slot0 th,
.fc-agenda-slots tr.fc-slot0 td {
	border-top-width: 0;
	}

.fc-agenda-slots tr.fc-minor th,
.fc-agenda-slots tr.fc-minor td {
	border-top-style: dotted;
	}
	
.fc-agenda-slots tr.fc-minor th.ui-widget-header {
	*border-top-style: solid; /* doesn't work with background in IE6/7 */
	}
	


/* Vertical Events
------------------------------------------------------------------------*/

.fc-event-vert {
	border-width: 0 1px;
	}
	
.fc-event-vert .fc-event-head,
.fc-event-vert .fc-event-content {
	position: relative;
	z-index: 2;
	width: 100%;
	overflow: hidden;
	}
	
.fc-event-vert .fc-event-time {
	white-space: nowrap;
	font-size: 10px;
	}
	
.fc-event-vert .fc-event-bg { /* makes the event lighter w/ a semi-transparent overlay  */
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: .3;
	filter: alpha(opacity=30);
	}
	
.fc .ui-draggable-dragging .fc-event-bg, /* TODO: something nicer like .fc-opacity */
.fc-select-helper .fc-event-bg {
	display: none\9; /* for IE6/7/8. nested opacity filters while dragging don't work */
	}
	
/* resizable */
	
.fc-event-vert .ui-resizable-s {
	bottom: 0        !important; /* importants override pre jquery ui 1.7 styles */
	width: 100%      !important;
	height: 8px      !important;
	overflow: hidden !important;
	line-height: 8px !important;
	font-size: 11px  !important;
	font-family: monospace;
	text-align: center;
	cursor: s-resize;
	}
	
.fc-agenda .ui-resizable-resizing { /* TODO: better selector */
	_overflow: hidden;
	}
	
	


@CHARSET "UTF-8";



input.finish {
	padding: 3px 9px;
}



a.button-back {
	float: left;
	text-decoration: none;
}

a.button-next {
	float: right;
	text-decoration: none;
}

fieldset.step {
	border: 1px solid #DDD;
	clear: left;
	font: 10px verdana;
	width: 500px;
}




input.finish {
	border-style: none;
	cursor: pointer;
	float: right;
	text-decoration: none;
}

li.error-image {
	background: url('../img/error.png') no-repeat right top;
}

ul.stepy-titles {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

ul.stepy-titles li {
	color: #DDD;
	cursor: pointer;
	list-style-type: none;
	font: bold 18px verdana;
	float: left;
	padding: 10px;
}

ul.stepy-titles li.current-step {
	color: #369;
	cursor: auto;
}

ul.stepy-titles li span {
	font: 11px verdana;
	display: block;
}


/*** Optionaly (jQuery Validate) ***/

label.error {
	background: url('../img/alert.png') no-repeat;
	color: #DE5130;
	display: block;
	float: left;
	font: 10px verdana;
	height: 16px;
	margin: 5px 3px 0 10px;
	padding-left: 21px;
	padding-top: 2px;
}

input.error, select.error, textarea.error {
	background-color: #FAF4F4;
}

/**
 * jQuery lightBox plugin
 * This jQuery plugin was inspired and based on Lightbox 2 by Lokesh Dhakar (http://www.huddletogether.com/projects/lightbox2/)
 * and adapted to me for use like a plugin from jQuery.
 * @name jquery-lightbox-0.5.css
 * @author Leandro Vieira Pinho - http://leandrovieira.com
 * @version 0.5
 * @date April 11, 2008
 * @category jQuery plugin
 * @copyright (c) 2008 Leandro Vieira Pinho (leandrovieira.com)
 * @license CCAttribution-ShareAlike 2.5 Brazil - http://creativecommons.org/licenses/by-sa/2.5/br/deed.en_US
 * @example Visit http://leandrovieira.com/projects/jquery/lightbox/ for more informations about this jQuery plugin
 */
#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev { 
	left: 0; 
	float: left;
}
#lightbox-nav-btnNext { 
	right: 0; 
	float: right;
}
#lightbox-container-image-data-box {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
}
#lightbox-container-image-data {
	padding: 0 10px; 
	color: #666; 
}
#lightbox-container-image-data #lightbox-image-details { 
	width: 70%; 
	float: left; 
	text-align: left; 
}	
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
	display: block; 
	clear: left; 
	padding-bottom: 1.0em;	
}			
#lightbox-secNav-btnClose {
	width: 66px; 
	float: right;
	padding-bottom: 0.7em;	
}

/*plugin styles*/
.visualize {
	border:1px solid #e6e6e6;
	position:relative;
	background:#fafafa;
	margin:0 auto 30px;
}
.visualize canvas { position: absolute; }
.visualize ul,.visualize li { margin:0; padding:0; list-style:none; background:none; }

/*table title, key elements*/
.visualize .visualize-info { padding: 3px 5px; background: #fafafa; border: 1px solid #e6e6e6; position: absolute; top: -20px; right: 10px; opacity: .8; }
.visualize .visualize-title { display: block; color: #333; margin-bottom: 3px;  font-size: 1.1em; }
.visualize ul.visualize-key { list-style: none;  }
.visualize ul.visualize-key li { list-style: none; float: left; margin-right: 10px; padding-left: 10px; position: relative;}
.visualize ul.visualize-key .visualize-key-color { width: 6px; height: 6px; left: 0; position: absolute; top: 50%; margin-top: -3px;  }
.visualize ul.visualize-key .visualize-key-label { color: #000; }

/*pie labels*/
.visualize-pie .visualize-labels { list-style: none; }
.visualize-pie .visualize-label-pos, .visualize-pie .visualize-label { position: absolute;  margin: 0; padding:0; }
.visualize-pie .visualize-label { display: block; color: #fff; font-weight: bold; font-size: 1em; }
.visualize-pie-outside .visualize-label { color: #000; font-weight: normal; }

/*line,bar, area labels*/
.visualize-labels-x,.visualize-labels-y { position: absolute; left: 0; top: 0; list-style: none; }
.visualize-labels-x li, .visualize-labels-y li { position: absolute; bottom: 0; }
.visualize-labels-x li span.label, .visualize-labels-y li span.label { position: absolute; color: #555;  }
.visualize-labels-x li span.line, .visualize-labels-y li span.line {  position: absolute; border: 0 solid #ccc; }
.visualize-labels-x li { height: 100%; }
.visualize-labels-x li span.label { top: 100%; margin-top: 5px; }
.visualize-labels-x li span.line { border-left-width: 1px; height: 100%; display: block; }
.visualize-labels-x li span.line { border: 0;} /*hide vertical lines on area, line, bar*/
.visualize-labels-y li { width: 100%;  }
.visualize-labels-y li span.label { right: 100%; margin-right: 5px; display: block; width: 100px; text-align: right; }
.visualize-labels-y li span.line { border-top-width: 1px; width: 100%; }
.visualize-bar .visualize-labels-x li span.label { width: 100%; text-align: center; }

/* Fix wrong position in IE8 */
.ie8 .visualize-interaction-tracker { margin-top:0 !important; }

/*tooltips*/
.visualize .chart_tooltip {
	padding:6px 7px;
	background:#000;
	background:url(../Chromatron Admin Theme_filesvisualize_tooltip.png) 0 0 repeat;
	margin:3px 4px 0;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	color:#fff;
	font-size:10px;
	line-height:normal;
}

/*
 *  File:         demo_table.css
 *  CVS:          $Id$
 *  Description:  CSS descriptions for DataTables demo pages
 *  Author:       Allan Jardine
 *  Created:      Tue May 12 06:47:22 BST 2009
 *  Modified:     $Date$ by $Author$
 *  Language:     CSS
 *  Project:      DataTables
 *
 *  Copyright 2009 Allan Jardine. All Rights Reserved.
 *
 * ***************************************************************************
 * DESCRIPTION
 *
 * The styles given here are suitable for the demos that are used with the standard DataTables
 * distribution (see www.datatables.net). You will most likely wish to modify these styles to
 * meet the layout requirements of your site.
 *
 * Common issues:
 *   'full_numbers' pagination - I use an extra selector on the body tag to ensure that there is
 *     no conflict between the two pagination types. If you want to use full_numbers pagination
 *     ensure that you either have "example_alt_pagination" as a body class name, or better yet,
 *     modify that selector.
 *   Note that the path used for Images is relative. All images are by default located in
 *     ../images/ - relative to this CSS file.
 */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */

.dataTables_wrapper {
	position: relative;
	min-height: 302px;
	clear: both;
	_height: 302px;
	zoom: 1; /* Feeling sorry for IE */
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}

.dataTables_length {
	width: 40%;
	float: left;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}

.dataTables_info {
	width: 60%;
	float: left;
}

.dataTables_paginate {
	width: 44px;
	* width: 50px;
	float: right;
	text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
	cursor: pointer;
}

.paginate_disabled_previous {
	background-image: url('../images/dataTables/back_disabled.png');
}

.paginate_enabled_previous {
	background-image: url('../images/dataTables/back_enabled.png');
}

.paginate_disabled_next {
	background-image: url('../images/dataTables/forward_disabled.png');
}

.paginate_enabled_next {
	background-image: url('../images/dataTables/forward_enabled.png');
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.display {
	margin: 0 auto;
	clear: both;
	width: 100%;
	border-collapse: collapse;
	
	/* Note Firefox 3.5 and before have a bug with border-collapse
	 * ( https://bugzilla.mozilla.org/show%5Fbug.cgi?id=155955 ) 
	 * border-spacing: 0; is one possible option. Conditional-css.com is
	 * useful for this kind of thing
	 *
	 * Further note IE 6/7 has problems when calculating widths with border width.
	 * It subtracts one px relative to the other browsers from the first column, and
	 * adds one to the end...
	 *
	 * If you want that effect I'd suggest setting a border-top/left on th/td's and 
	 * then filling in the gaps with other borders.
	 */
}

table.display thead th {
	font-weight: bold;
	cursor: pointer;
        text-align: center; /*Centrado de Columas Por: Elkin Beltrán*/
	* cursor: hand;
}

table.display tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.display td {
	padding: 3px 10px;
}

table.display td.center {
	text-align: center;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	background: url('../images/dataTables/sort_asc.png') no-repeat center right;
}

.sorting_desc {
	background: url('../images/dataTables/sort_desc.png') no-repeat center right;
}

.sorting {
	background: url('../images/dataTables/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('../images/dataTables/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('../images/dataTables/sort_desc_disabled.png') no-repeat center right;
}









/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
.dataTables_scroll {
	clear: both;
}

.dataTables_scrollBody {
	*margin-top: -1px;
}

.top, .bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

.top .dataTables_info {
	float: none;
}

.clear {
	clear: both;
}

.dataTables_empty {
	text-align: center;
}

tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

tfoot input.search_init {
	color: #999;
}

td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}


.example_alt_pagination div.dataTables_info {
	width: 40%;
}

.paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 22px;
}

.paging_full_numbers span.paginate_button,
 	.paging_full_numbers span.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
}

.paging_full_numbers span.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers span.paginate_button:hover {
	background-color: #ccc;
}

.paging_full_numbers span.paginate_active {
	background-color: #99B3FF;
}

table.display tr.even.row_selected td {
	background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}














/* =Dashboard
----------------------------------------------- */
h2.dashboard_title { font-size: 20px; font-weight: bold;  }
h2.dashboard_title span { font-size: 12px; font-style: italic; color: #777; padding-left: 1.5em; }

.dashboard_add {
	width: auto; 
	font-size: 20px !important;
	display: block;
	padding: 8px 16px;
	margin-bottom: .5em; 		
}	
	
.report { 
	width: 23%; 
	font-size: 13px;
	font-style: italic;
	color: #777;
	cursor: pointer;
	float: left; 		
	margin: 0 1.1% .5em;
	
	border: 1px solid #C7C7C7;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	text-shadow: 1px 1px 2px rgba(255,255,255,.65);
}

	.report.first { margin-left: 0; }
	.report.last { margin-right: 0;  }

.report .pad { padding: 15px 15px 10px; }

.report .value {
	font-size: 28px;
	font-style: normal;
	color: #444;
	display: block;
	margin-bottom: .4em;
}

.report.active { text-shadow: 1px 1px 2px rgba(0,0,0,.5); }
.report.active .value { color: #FFF; }






/* =Inbox Tabs
----------------------------------------------- */
#inbox-tabs ul { padding: 0; margin: 0; }

#inbox-tabs li
{
    list-style-type: none;

    padding: 5px 10px;
    margin-bottom: .5em;
    position: relative;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

    #inbox-tabs li:hover { background: #DDD; }
    	#inbox-tabs li:hover a { text-decoration: none; }

#inbox-tabs a
{
    font-size: 12px;
    font-weight: bold;
    color: #333;
    display: block;
}

    #inbox-tabs a:hover { text-decoration: none; }

#inbox-tabs .count
{
    font-size: 11px;
    font-weight: bold;
    color: #444;
    padding: 1px 8px;
    position: absolute;
    right: 7px;
    top: 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
    
    #inbox-tabs li.current .count {  color: #FFF; }

    #inbox-tabs .current a { color: #FFF; }

    #inbox-tabs .divider { padding: 0; margin-bottom: 1em; height: 3px;}
    	#inbox-tabs .divider:hover { background: none; }
#inbox-tabs br { border: none; border-top: 1px solid #444; margin: 0; }





/* =Inbox Table
----------------------------------------------- */
#inbox-table { border-collapse: collapse; }

#inbox-table td { padding-top: 20px; vertical-align: top; border-bottom: 1px dotted #CCC; }
	#inbox-table tr:first-child td { padding-top: 10px; }
	
	#inbox-table tr td:first-child { padding-left: 10px; }
	#inbox-table tr td:last-child { padding-right: 10px; }

#inbox-table .td_avatar { width: 55px; }
	#inbox-table .td_avatar img { width: 40px; }
	
#inbox-table .td_info { width: 100px; }

#inbox-table .td_actions { width: 30px; text-align: right; vertical-align: middle; }
	#inbox-table .td_actions .message_actions { position: relative; top: -10px; }
	#inbox-table .td_actions .delete {
		background-color: #bbb;
	    color: #FFFFFF;
	    line-height: 0;
	    padding: 0 6px 1px;
	    
	    -webkit-border-radius: 4px;
	    -moz-border-radius: 4px;
	    border-radius: 50px;
	}
	
		#inbox-table .td_actions .delete:hover { background-color: #777; text-decoration: none; }
	
#inbox-table tr.unread td { background-color: #EEE; }





/* =Contacts
----------------------------------------------- */
.contact_card {
	width: 45%;
	float: left;
	margin-bottom: 3em;	
}

.contact_card:nth-child(odd) {
	width: 45%;
	margin-left: 9%;
}

.contact_card table td {
	vertical-align: top;
}

.contact_card table .td_info ul {
	 padding: 0; margin: 0;
}

.contact_card li { list-style-type: none;  }

.contact_card .td_avatar { width: 60px; }
	.contact_card .td_avatar img { width: 40px; }

.contact_card .contact_name {
	font-size: 18px;
	font-weight: bold;
}

.contact_tags span {
	background: #ddd; 
	font-size: 11px;
	color: #444;
	padding: 1px 8px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.contact_card .contact_company
, .contact_card .contact_details { font-size: 12px; color: #777; }






/* =Blank Slate
----------------------------------------------- */
.blank_start {
	background-color: #EEE;
	text-align: center;
	padding: 20px 12px;
	margin-bottom: 3.5em;
	
	border: 1px solid #CCC;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 2px rgba(0,0,0,0.2);
	box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
	
	.blank_start h1 { font-size: 24px; margin-bottom: .5em; }
	
	.blank_start p { font-size: 14px; font-style: italic; color: #666; margin-bottom: 0; }

.blank_slate { width: 100%; text-align: center; margin: 0 auto 2.5em; }

	.blank_slate h1 { font-size: 20px; margin-bottom: .4em; }

	.blank_slate h2 { font-size: 16px; }

	.blank_slate table { margin-top: 2.5em; }
	
		.blank_slate table td { text-align: center; padding: 0 15px; }

		.blank_slate table h2 { font-weight: bold; margin-bottom: .6em; }
	
		.blank_slate table img { padding: 2px; margin-bottom: 1em; border: 1px solid #CCC; }
		
.blank_other h3 { font-weight: bold; color: #900; padding-bottom: 8px; border-bottom: 1px dotted #AAA; }

.blank_other a { font-size: 15px; font-weight: bold; }

.blank_other span { display: block; margin-bottom: 2em; }






/* =Gallery
----------------------------------------------- */
ul.gallery { padding: 0; margin: 0; }


	.gallery .btn { font-size: 10px; }

.gallery li 
{
	padding: 3px;
	margin: 0;
	background: 0;
	width: 100px;
	height: 100px;

	list-style-type: none;    
    float: left;


	position: relative;
	margin: 13px 17px 10px 10px;
	border: 1px solid #ccc;
	box-shadow: 0 0 3px rgba(0,0,0,.20);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.20);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.20);

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	}


.gallery li:hover { border-color: #888; }

.gallery li .actions
{
	width: 100px;
	height: 100px;
	display: block;
	z-index: 10;
	position: absolute;
	text-align: center;
	left: 0;
	top: 0;
	display: none;
	padding: 3px;
}


.gallery .actions .btn,
.gallery .actions .btn:hover { width: 50px; color: #FFF !important; display: block; margin: 0 auto; }

.gallery .actions .btn:first-child { margin-top: 15px; margin-bottom: 1em; }

.gallery li:hover .actions { display: block; }

	*+html .gallery .actions .delete { top: -12px; position: relative; }

.gallery li { cursor: move; }


#gallery_wrapper { text-align: center; }

#gallery_filter {
	 width: 182px;
}

#gallery_filter .filters {
	margin-bottom: 0;
}

#gallery_filter a { font-size: 13px; }

#gallery_filter .filtered { 
	font-weight: bold;
	color: #222;
}

.gallery li.hidden:hover .actions { display: none; }

.gallery .hidden { 
	opacity: .15; 
	filter: alpha(opacity=15); 
}




/* =Contact Profile
----------------------------------------------- */
#contact_profile .contact_name { margin-bottom: .35em; }
#contact_profile .contact_company { font-size: 16px; }

#contact_profile table { width: 100%; }
#contact_profile td { vertical-align: top; }
#contact_profile .td_avatar { width: 70px; }
	#contact_profile .td_avatar img {  padding: 2px; border: 1px solid #CCC; }
	

#contact_profile .td_info p { margin-bottom: .75em; }

#contact_profile #contact_note_form textarea {
	width: 97%;
	height: 75px;
	display: block;
	margin-bottom: 1em;
}

#contact_profile #contact_note_form h3 { font-size: 18px; margin-bottom: .65em; }

#contact_profile .note { 
	background: url(../images/icons/woo/page_text.png) no-repeat 0 0; 
	padding-bottom: 1em; 
	padding-left: 50px;
	margin-bottom: 2em; 
	border-bottom: 1px dotted #CCC; 
}

#contact_profile .note:last-child { border-bottom: none; }
#contact_profile .note .note_posted { font-size: 16px; margin-bottom: .65em; }






/* =Support Answer
----------------------------------------------- */
#support_answer h1 { padding-bottom: .4em; margin-bottom: .20em; }
#support_answer .updated { font-size: 15px; color: #666; padding-bottom: 1em; border-bottom: 1px dotted #CCC; }

#support_answer .grab {
	width: 95%; 
	padding: 3px;
	margin: 1.5em auto 2.5em;
	border: 1px solid #CCC;	
}






/* =Support Center
----------------------------------------------- */
#support_search { width: 753px; font-size: 20px; padding: 10px 10px; }

#search button { width: 125px; margin-left: 10px; top: -4px; }

#search { 
	background: #F1F1F1; 
	padding: 10px; 
	border: 1px solid #CCC; 
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}






/* =Message
----------------------------------------------- */
.message_threads {
	margin: 0;
}

.message_threads .message {
	list-style-type: none;
}

.avatar {
	width: 40px;
}

.message_threads .message_body {
	/*background: url(../images/message_stem_grey.png) no-repeat 0 52px;*/
	width: 651px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-left: -13px;
	margin-bottom: 1em;
}

.message_threads .message_text {	
	background: #EEE;
	line-height: 2em;
	padding: 12px;
	margin-left: 20px;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.message_threads .message_date {
	font-size: 11px;
	color: #777;
	text-align: right;
	margin-bottom: 0;
}

.message_threads .alt .message_body { /* background-image: url(../images/message_stem_blue.png); */ }

.message_threads .alt .message_text {
	background: #CCC;
}

.message_threads .collapsed .message_body { background: none; margin-bottom: 0; }

.message_threads .collapsed .message_text {
	height: 46px;
	line-height: 46px;
	padding: 0 50px 0 12px;
	overflow: hidden;
	cursor: pointer;
}

.message_threads .collapsed .message_author { display: none; }

.message_threads .message_arrow {
	background: url(../images/message_arrow_up.png) no-repeat 0 0;
	width: 12px;
	height: 5px;
	position: absolute;
	right: 15px;
	top: 17px;
	cursor: pointer;
}

.message_threads .collapsed .message_arrow { background-image: url(../images/message_arrow_down.png); top: 20px; }

#reply_form { margin-left: 60px; }

	#reply_form textarea {
		width: 97%;
		height: 75px;
		display: block;
		margin-bottom: 1em;
	}






/* =Theme Gallery
----------------------------------------------- */
.theme_screenshot {
		text-align: center;
		margin-bottom: 2.5em;
	}
	
	.theme_screenshot img {
		padding: 2px;
		margin-bottom: .75em;
		border: 1px solid #CCC;
	}
	
	.theme_screenshot span {
		font-size: 16px;
		font-weight: bold;
		display: block;
		margin-bottom: .75em;
	}
	
		.theme_screenshot a {
			color: #333;
		}
	
	.theme_screenshot .load_theme {
	}

/* =Grid Container Size
----------------------------------------------- */
.container { width: 960px; }









/* =Default Gradient
----------------------------------------------- */
#sub-header
, .paging_full_numbers span.paginate_button
, .section_header
, ul.stepy-titles li
, h2.accordion_panel
, ul.tabs li
, .report {
	background:-moz-linear-gradient(top, #FFFFFF 0%, #DFDBDB 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#DFDBDB)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #FFFFFF 0%,#DFDBDB 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #FFFFFF 0%,#DFDBDB 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #FFFFFF 0%,#DFDBDB 100%); /* IE10+ */
	background:linear-gradient(top, #FFFFFF 0%,#DFDBDB 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DFDBDB');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DFDBDB')";
	
	border: 1px solid #A0A0A0;
}


/* =Active Gradient
----------------------------------------------- */
.paging_full_numbers span.paginate_active
, ul.stepy-titles li.current-step
, h2.accordion_panel.active
, .fc-event-inner
, .tabs-side .current a
, .report.active
, #inbox-tabs .current
, #inbox-tabs .current:hover
{
	background:-moz-linear-gradient(top, #CBE0F3 0%, #4994D7 2%, #066ECD 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #CBE0F3), color-stop(2%,#4994D7), color-stop(100%,#066ECD)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #CBE0F3 0%, #4994D7 2%, #066ECD 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #CBE0F3 0%, #4994D7 2%, #066ECD 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #CBE0F3 0%, #4994D7 2%, #066ECD 100%); /* IE10+ */
	background:linear-gradient(top, #CBE0F3 0%, #4994D7 2%, #066ECD 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4994D7', endColorstr='#066ECD');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4994D7', endColorstr='#066ECD')";
	
	color: #FFF;
		
	border: 1px solid #03437C;	
}



#sub-header { border-top-color: #000; }

.section_header
, .report { border-color: #CCC; }


/* =Button Colors
----------------------------------------------- */
.btn.primary,
.btn.primary:visited { background-color: #066ECD; border-color: #0561B4; color: #FFF; }
.btn.primary:hover { background-color: #0561B4; }

.btn.secondary,
.btn.secondary:visited  { background-color: #999; border-color: #888; color: #FFF; color: #FFF; }
.btn.secondary:hover{ background-color: #888; color: #FFF; }

.btn.tertiary,
.btn.tertiary:visited  { background-color: #CCC; border-color: #bbb; color: #444; text-shadow: 1px 1px 1px rgba(255,255,255,.8); }
.btn.tertiary:hover{ background-color: #bbb; color: #444; }

.btn.primary { background-image: url(../images/btn-35.png); background-position: 0 0; }
.btn.secondary { background-image: url(../images/btn-50.png); background-position: 0 0; }
.btn.tertiary { background-image: url(../images/btn-100.png); background-position: 0 0; }

.btn.block { display: block; margin-bottom: .75em; }






/* =Data Table [OVERRIDE]
----------------------------------------------- */
.paging_full_numbers span.paginate_button
, .paging_full_numbers span.paginate_active {
	padding: 3px 8px;
}

.paging_full_numbers span.paginate_active {	
	font-size: 11px;
	color: #FFF;
}

.paginate_button
, .paginate_active { display: inline-block; }


table.display thead tr { 
	background: #EEE;
	background:-moz-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#EEEEEE)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #FFFFFF 0%,#EEEEEE 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #FFFFFF 0%,#EEEEEE 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #FFFFFF 0%,#EEEEEE 100%); /* IE10+ */
	background:linear-gradient(top, #FFFFFF 0%,#EEEEEE 100%); /* W3C */	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EEEEEE');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFF', endColorstr='#FFFFF')";
}

.dataTables_info { width: 38%; }
.dataTaebles_paginate { width: 60%; }
.dataTables_info
, .dataTables_paginate { margin-top: 2em; }

.dataTables_length
, .dataTables_filter { margin-bottom: 1em; }





/* =Steppy [OVERRIDE]
----------------------------------------------- */
fieldset.step form { width: 100%; }

fieldset.step { 
	width: auto;  
	padding: 25px 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

fieldset.step .stepy-buttons { padding: 0 .85em; margin-top: 3em; }

ul.stepy-titles { display: block; margin-bottom: .5em; float: left !important; }

ul.stepy-titles li
{
	color: #777;
	padding: 8px 20px 12px 17px;
	margin-right: 1em;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

ul.stepy-titles li.current-step
{	
	color: #FFF;
	
	border-color: #03437C;
	
	text-shadow: 1px 1px 2px rgba(0,0,0,.35);
}

fieldset.step legend { display: none; }




.fc-event-inner {
	border-radius: 4px;
}

.fc-event {
	background: none;
	border: none;
}



/* =Misc
----------------------------------------------- */
.avatar { padding: 2px; border: 1px solid #CCC; }




#theme_switcher {
	background-color: #FFF;
	width: 110px;
	padding: 1em 15px;
	position: fixed;
	left: -143px;
	z-index: 80;
	border: 1px solid #CCC;
	
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
	
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#theme_switcher .theme_tab {
	background: #777;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #FFF;
	cursor: pointer;
	position: absolute;
	top: 25px;
	right: -31px;
	
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}


#theme_switcher ul {
	margin: 0;
}

#theme_switcher h3 { color: #333 !important; }
#theme_switcher li { list-style-type: none; }