.form { margin-bottom: 1.5em; }

	.form .field { margin-bottom: 1.75em; }
		.form .field:last-child { margin-bottom: 1em; }

	.form label { width: 125px; font-size: 12px; color: #555; }

		.form .fields label { width: auto; margin-left: .25em; margin-right: 2em; }



.form .actions {  
        margin-left: 75%; text-align: right;
}
	.form .actions .cancel { font-size: 11px; color: #666; margin-left: 1em; }

.form label
, .form .fields
, .form .actions
{
	display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}

.form .fields { vertical-align: middle; }

.form .error
{
	background: url(../images/error_stem.png) no-repeat 10px 100%;
	line-height: 2em !important;
	display: block;
	padding: 0 0 4px !important;
	margin-bottom: .5em;	
	position: relative;
	top: 3px;
}

	.form .error span
	{
		background: #C00;
		font-size: 10px;
		display: inline-block;
		color: #FFF;
		padding: 0 8px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
	}

.form .required { font-size: 11px; color: #C00; position: relative; top: -3px; }

.form .input label:first-child
, .form .select label:first-child { position: relative; top: 5px; }

.form.top_label label:first-child { display: block; padding-bottom: .5em; }
.form.top_label .actions { margin-left: 0; }