/* =Default
----------------------------------------------- */
body { background: #FFF; color: #444; }






/* =Wrapper
----------------------------------------------- */
#wrapper {}

		




/* =Header
----------------------------------------------- */
#header { 
	background:-moz-linear-gradient(top, #46474B 0%, #303135 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#46474B), color-stop(100%,#303135)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #46474B 0%,#303135 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #46474B 0%,#303135 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #46474B 0%,#303135 100%); /* IE10+ */
	background:linear-gradient(top, #46474B 0%,#303135 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#46474B', endColorstr='#303135');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#46474B', endColorstr='#303135')";
	
	height: 56px; 
	border-bottom: 1px solid #676A72;
}

	#header .grid { margin-bottom: 0 !important; }







/* =Sub Header
----------------------------------------------- */
#sub-header { 
	
	height: 78px;
	border-top: 1px solid #000;
	border-left: none;
	border-right: none;
}

#sub-header.toolbar { height: 123px; }

#sub-header .grid { margin-bottom: 0 !important; }

#sub-header-right { text-align: right; }

#sub-header h2 { font-size: 30px; margin: 27px 0 25px; }

#sub-header .tab {
	background:-moz-linear-gradient(top, #FEFEFE 0%, #E2E1E1 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFEFE), color-stop(100%,#E2E1E1)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #FEFEFE 0%,#E2E1E1 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #FEFEFE 0%,#E2E1E1 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #FEFEFE 0%,#E2E1E1 100%); /* IE10+ */
	background:linear-gradient(top, #FEFEFE 0%,#E2E1E1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#E2E1E1');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#E2E1E1')";
	
	font-size: 12px;
	font-weight: bold;
	color: #333;
	height: 20px;
	line-height: 20px;
	display: inline-block;
	padding: 4px 15px;
	margin-right: 1em;
	border: 1px solid #ADADAD;	
	position: relative;
	
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	
	box-shadow: 1px 1px 10px rgba(205,205,205,.35);
}

#sub-header .tab:active { top: 1px; left: 1px; }

#sub-header .tab:hover
, #sub-header .tab:active {
	background:-moz-linear-gradient(top, #FDFDFD 0%, #CECCCC 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FDFDFD), color-stop(100%,#CECCCC)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #FDFDFD 0%,#CECCCC 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #FDFDFD 0%,#CECCCC 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #FDFDFD 0%,#CECCCC 100%); /* IE10+ */
	background:linear-gradient(top, #FDFDFD 0%,#CECCCC 100%); /* W3C */
	
	color: #333;
	text-decoration: none;
}
		





/* =Content
----------------------------------------------- */			
#content {
	margin-top: 1em;
}		







/* =Footer
----------------------------------------------- */
#footer
{
	background: #333;
	color: #FFF;
	border-top: 3px solid #111;
	position: relative;
	padding-top: 2.5em;
	padding-bottom: 2em;
	clear: both;
}

	*+html #footer { float: left; }

	#footer .grid-container
	{
		font-size: 11px;
		text-align: left;
	}
	
		#footer .grid-container a { color: #FFF; }

	#footer .grid { margin-bottom: 3em; }
	
	#footer #copyright {
		padding-top: 2.5em;
		margin-bottom: 2em;
		border-top: 1px dotted #666;
	}
	
		#footer a { color: #FFF; }
	
		#footer .left { text-align: left; }
		#footer .right { text-align: right; }



/* =Section Header
----------------------------------------------- */
.section_header {
	padding: 15px;	
	margin-bottom: 2.5em;
	border-color: #CCC;
	
	clear: both;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

	.section_header h3 { font-size: 18px; font-weight: bold; margin-bottom: 0; }		
		
.section_header+.stats+.visualize { margin-top: 4em; }






/* =Misc
----------------------------------------------- */
.clear { clear: both; }






