body { background: #222; font: 12px/1.7em arial, sans-serif; margin: 75px; }

#login { width: 400px; position: absolute; left: 50%; top: 120px; margin-left: -200px; }

#login h1
{
	background: url(../images/logo.png) no-repeat 0 0;
	width: 160px;
	height: 60px;
	line-height: 800px;
	overflow: hidden;
	margin: 0 auto .75em;	
}

#login_panel
{
	background: #FFF;
	width: 400px;
	border: 1px solid #CCC;
	overflow: hidden;
	
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.6);
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.6);
	box-shadow: 1px 1px 1px rgba(0,0,0,.6);
}

#login_panel .login_fields { padding: 22px 15px 15px; }
	#login_panel .login_fields input { width: 355px; }

#login_panel .field { margin-bottom: 1.75em; }
	#login_panel .field:last-child { margin-bottom: .85em; }
	
	#login_panel .field label { font-weight: bold; color: #555; display: block; position: relative; } 	
		#login_panel .field label small { position: absolute; right: 0; top: -2px; }
			#login_panel .field label small a { color: #999; }

#login .login_actions { background: #E8E8E8; width: auto; padding: 12px 15px; border-top: 1px dotted #CCC; text-align: right; }